{% extends "layout/base.html" %}

{% block title %} Sales {% endblock title %}

{% block content %}

    <div class="login auth-form-container">
        <h1> Agregar cafe procesado </h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}"> {{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            {{ inventoryForm.hidden_tag() }}
            <div class="input-group">
                {{ processedCoffeeForm.dry_parchment_coffee_id.label }}
                {{ processedCoffeeForm.dry_parchment_coffee_id }}
            </div>
            <div class="input-group">
                {{ processedCoffeeForm.weight.label }}
                {{ processedCoffeeForm.weight }}
            </div>
            <div class="input-group">
                {{ processedCoffeeForm.processed_category.label }}
                {{ processedCoffeeForm.processed_category  }}
            </div>
            <div class="input-group">
                {{ processedCoffeeForm.responsible.label }}
                {{ processedCoffeeForm.responsible  }}
            </div>
            <div class="input-group">
                {{ inventoryForm.quantity.label }}
                {{ inventoryForm.quantity }}
            </div>
            <div class="input-group">
                {{ inventoryForm.entry_date.label }}
                {{ inventoryForm.entry_date }}
            </div>
            <div class="input-group">
                {{ inventoryForm.observation.label }}
                {{ inventoryForm.observation }}
            </div>
            {{ processedCoffeeForm.submit }}
        </form>
    </div>

{% endblock content %}