{% extends "layout/base.html" %}

{% block title %} Sales {% endblock title %}

{% block content %}

    <div class="login auth-form-container">
        <h1> Agregar pergamino seco </h1>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}"> {{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            {{ orderDetailForm.hidden_tag() }}
            <div class="input-group">
                {{ orderDetailForm.product_id.label }}
                {{ orderDetailForm.product_id }}
            </div>
            <div class="input-group">
                {{ orderDetailForm.quantity.label }}
                {{ orderDetailForm.quantity }}
            </div>
            <div class="input-group">
                {{ orderForm.order_date.label }}
                {{ orderForm.order_date }}
            </div>
            <div class="input-group">
                {{ orderForm.observation.label }}
                {{ orderForm.observation }}
            </div>
            {{ orderForm.submit }}
        </form>
    </div>

{% endblock content %}