{% extends "layout/base.html" %}

{% block title %} Inventory {% endblock title %}

{% block content %}

<section class="main_content">
    <div class="content" id="dry_parchment_coffee_table">
        <h1> Inventario </h1>
        <div class="selection-options">
            <a href="{{ url_for('inventoryViews.inventory_create_dry_parchment_coffee') }}"
                class="add-inv-btn login-btn">Pergamino seco</a>
            <a href="{{ url_for('inventoryViews.inventory_create_processed_coffee') }}"
                class="add-inv-btn login-btn">Cafe procesado</a>
            <a href="{{ url_for('inventoryViews.inventory_create_others_in_inventory') }}"
                class="add-inv-btn login-btn">Otros</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> {{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% if inventories_parchments %}
        <button id="show-all">Mostrar todo</button>
        <hr class="parchment">
        <div class="table-container">
            <h1> PERGAMINO SECO </h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Caficultor</th>
                        <th>Variedad</th>
                        <th>Altitud</th>
                        <th>Cantidad</th>
                        <th>Fecha entrada</th>
                        <th>Observaciones</th>
                        <th class="table-option-btn">Edit</th>
                        <th class="table-option-btn">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_parchment in inventories_parchments %}
                    {% if inventory_parchment.quantity == 0 %}
                    <tr class="empty_row">
                        {% else %}
                    <tr>
                        {% endif %}
                        <td id="dry_parchment_coffee_id_{{ inventory_parchment.id }}"><a
                                href="#processed_coffee_parchment_id_{{inventory_parchment.id}}">{{
                                    inventory_parchment.id }}</a></td>
                        <td>{{ inventory_parchment.farmer_name }}</td>
                        <td>{{ inventory_parchment.variety }}</td>
                        <td>{{ inventory_parchment.altitude }}</td>
                        <td>{{ inventory_parchment.quantity }}</td>
                        <td>{{ inventory_parchment.date }}</td>
                        {% if inventory_parchment.observation == '' %}
                        <td><strong>NA</strong></td>
                        {% else %}
                        <td>{{ inventory_parchment.observation }}</td>
                        {% endif %}
                        <td>
                            <form method="POST"
                                action="{{ url_for('inventoryViews.inventory_edit_dry_parchment_coffee', parchment_id=inventory_parchment.id) }}">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('inventoryViews.inventory_delete_dry_parchment_coffee', parchment_id=inventory_parchment.id) }}"
                                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if inventories_processed %}
    <hr>
    <div class="content" id="processed_coffee_table">
        <h1> CAFE PROCESADO </h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Pergamino</th>
                        <th>Caficultor</th>
                        <th>Peso Individual</th>
                        <th>Categoria</th>
                        <th>Responsable</th>
                        <th>Pergamino seco</th>
                        <th>Procesado</th>
                        <th>Total en Kg</th>
                        <th>Precio c/u</th>
                        <th>Precio total</th>
                        <th>Fecha entrada</th>
                        <th>Observaciones</th>
                        <th class="table-option-btn">Edit</th>
                        <th class="table-option-btn">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_processed in inventories_processed %}
                    {% if inventory_processed.quantity == 0 %}
                    <tr class="empty_row">
                        {% else %}
                    <tr>
                        {% endif %}
                        <td id="processed_coffee_id_{{ inventory_processed.id }}">{{ inventory_processed.id }}</td>
                        <td id="processed_coffee_parchment_id_{{inventory_processed.parchment_id}}">
                            <a href="#dry_parchment_coffee_id_{{ inventory_processed.parchment_id }}">
                                {{ inventory_processed.parchment_id }}
                            </a>
                        </td>
                        <td>{{ inventory_processed.farmer_name }}</td>
                        <td>{{ inventory_processed.weight }}</td>
                        <td>{{ inventory_processed.category }}</td>
                        <td>{{ inventory_processed.responsible }}</td>
                        <td>{{ inventory_processed.parchment_weight }}</td>
                        <td>{{ inventory_processed.quantity }}</td>
                        <td>{{ inventory_processed.total_weight }}</td>
                        <td>{{ inventory_processed.price }}</td>
                        <td>{{ inventory_processed.total_price }}</td>
                        <td>{{ inventory_processed.date }}</td>
                        <td>{{ inventory_processed.observation }}</td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('inventoryViews.inventory_edit_processed_coffee', processed_id=inventory_processed.id) }}">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('inventoryViews.inventory_delete_processed_coffee', processed_id=inventory_processed.id) }}"
                                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if inventories_others %}
    <hr>
    <div class="content" id="others_in_inventory_table">
        <h1> OTROS </h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Fecha entrada</th>
                        <th>Observaciones</th>
                        <th class="table-option-btn">Edit</th>
                        <th class="table-option-btn">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_other in inventories_others %}
                    {% if inventory_other.quantity == 0 %}
                        <tr class="empty_row">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td id="others_in_inventory_id_{{ inventory_other.id }}">{{ inventory_other.id }}</td>
                        <td>{{ inventory_other.name }}</td>
                        <td>{{ inventory_other.quantity }}</td>
                        <td>{{ inventory_other.date }}</td>
                        <td>{{ inventory_other.observation }}</td>
                        <td>
                            <form method="GET"
                                action="{{ url_for('inventoryViews.inventory_edit_others_in_inventory', others_id = inventory_other.id) }}">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('inventoryViews.inventory_delete_others_in_inventory', others_id = inventory_other.id) }}"
                                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if inventories %}
    <hr>
    <div class="content">
        <div class="table-container">
            <h1> GENERAL</h1>
            <table>
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha entrada</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventories %}
                    {% if inventory.quantity > 0 %}
                    <tr>
                        <td>{{ inventory.category.name }}</td>
                        {% if inventory.category_id == 1 %}
                        <td><a href="#dry_parchment_coffee_id_{{ inventory.product_id }}">{{ inventory.product_id }}</a>
                        </td>
                        {% elif inventory.category_id == 2 %}
                        <td><a href="#processed_coffee_id_{{ inventory.product_id }}">{{ inventory.product_id }}</a>
                        </td>
                        {% elif inventory.category_id == 3 %}
                        <td><a href="#others_in_inventory_id_{{ inventory.product_id }}">{{ inventory.product_id }}</a>
                        </td>
                        {% endif %}
                        <td>{{ inventory.quantity }}</td>
                        <td>{{ inventory.entry_date }}</td>
                        {% if inventory.observation == "" %}
                        <td><strong>NA</strong></td>
                        {% else %}
                        <td>{{ inventory.observation }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</section>

<script>

    var button = document.getElementById('show-all');
    var trs = document.getElementsByClassName('empty_row');

    button.addEventListener('click', function () {
        Array.from(trs).forEach(tr => {
            if (tr.style.display == 'none') {
                tr.style.display = 'table-row';
            } else {
                tr.style.display = 'none';
            }
        })
    });


</script>

{% endblock content %}