<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% block metas %}
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            {% endblock metas %}
            {% block styles %}
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}">
            {% endblock styles %}
            <title>{% block title %} {{ title }} {% endblock title %}</title>
        {% endblock head %}
    </head>
    {% block header %}
        <header>
            <div class="logo">Shaya Café</div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('views.inventory') }}">Inventario</a></li>
                    <li><a href="{{ url_for('views.sales') }}">Ventas</a></li>
                    <li><a href="#">Hey</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>
    {% endblock header %}

    <body>
        
        {% block content %}{% endblock content %}

    </body>

</html>